# dependencies
/node_modules
/.pnp
.pnp.js

# next
/.next/
/out/

# env
.env
.env.local
.env*.local
config/youtube-cookies.txt

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
tsconfig.tsbuildinfo
.DS_Store
*.pem
.vercel
/tmp
/vendor/yt-dlp
